RewriteEngine On

# Permitir URLs sin index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^pages/([^/.]+)$ pages/$1.php [L]
RewriteRule ^api/(.*)$ api.php?endpoint=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^uploads/(.*)$ img/$1.jpg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^uploads/(.*)$ img/$1.png [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^uploads/(.*)$ uploads/$1.svg [L]

<FilesMatch "\.(jpg|jpeg|png|gif|svg|webp)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</FilesMatch>

# <IfModule mod_rewrite.c>
#     RewriteCond %{HTTPS} !=on
#     RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#     RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
# </IfModule>

# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]